.wrapper {
  position: relative;
  display: grid;
  width: 100%;
}

.textarea {
  width: 100%;
  font-size: 1em;
}

.textarea.noResize {
  resize: none;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.3em;
}
