.cart {
  position: relative;
  display: grid;
  gap: 1em;
  border: 1px dashed #000;
  padding: 1em;
}

.cart p {
  margin: 0;
}

.cart_section {
  display: flex;
}

.cart_section p {
  margin-right: 1em;
}

.cart_duration {
  display: flex;
}

.cart_duration > *:not(:first-child) {
  margin-left: 1em;
}

.details_clear {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -0.8em;
  right: -0.8em;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
}

.details_clear:hover,
.details_clear:focus,
.details_clear:active {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
